.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
}

.slice {
    fill-opacity: 0.8;
  }
.label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-anchor: middle;
  }
